<div class="card">
  <div class="card-header text-white bg-primary">
    <span style="font-size: 1.25rem;font-weight: 500;">Personal Info</span>
    <span class="pull-right">
      <button type="button" class="btn btn btn-outline-light btn-sm" (click)="goToList()">Back To List</button>
    </span>
  </div>
  <div class="card-body" *ngIf="person">
    <div class="card">
      <div class="card-header">
        <span style="font-size: 24px;font-variant: small-caps;font-weight: bold;margin-right: 10px;">{{person.name}}</span>
        <button type="button" class="btn btn-sm" [routerLink]="['/personEdit',person.id]"><i
            class="fa fa-edit fa-lg"></i></button>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-3">
            <div>
              <img [src]="getImage(person.photo)" alt="No Image" class="img-fluid img-thumbnail">
            </div>
          </div>
          <div class="col">
            <div class="form-group row">
              <div class="col-2">
                Father:
              </div>
              <div class="col-4">
                <div *ngIf="person.fatherName">
                  <a [href]="getPersonLink(person.fatherId)">{{person.fatherName}}</a>
                </div>
                <div *ngIf="!person.fatherName">
                  Unknown
                </div>
              </div>
              <div class="col-2">
                Gender:
              </div>
              <div class="col-4">
                {{person.gender}}
              </div>
            </div>
            <div class="form-group row">
              <div class="col-2">
                Mother:
              </div>
              <div class="col-4">
                <div *ngIf="person.motherName">
                  <a [href]="getPersonLink(person.motherId)">{{person.motherName}}</a>
                </div>
                <div *ngIf="!person.motherName">
                  Unknown
                </div>
              </div>
              <div class="col-2">
                Residence
              </div>
              <div class="col-4">
                {{person.residence}}
              </div>
            </div>
            <div class="form-group row">
              <div class="col-2">
                Age:
              </div>
              <div class="col-4">
                {{getAge(person.birthYear)}}
              </div>
              <div class="col-2">
                Is Alive:
              </div>
              <div class="col-4">
                {{person.isAlive}}
              </div>
            </div>
            <div class="form-group row" *ngIf="person.maritalStatus">
              <div class="col-2">
                Marital Status:
              </div>
              <div class="col-4">
                {{person.maritalStatus}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="card" *ngIf="person">
  <div class="card-header text-white bg-primary">
    <h5>Relationship Details</h5>
  </div>
  <div class="card-body">
    <div class="card" *ngFor="let spouse of person.spouses">
      <div class="card-header">
        <h5><a [href]="getPersonLink(spouse.info.id)" style="color: #212529;">{{spouse.info.name}}</a> - Children</h5>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item" *ngIf="spouse.children.length==0">No data to display</li>
        <li class="list-group-item" *ngFor="let child of spouse.children">
          <app-child-card [child]="child"></app-child-card>
        </li>
      </ul>
    </div>
    <br />
    <div class="card" *ngIf="person.siblings">
      <div class="card-header">
        <h5>My Brothers & Sisters</h5>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item" *ngIf="person.siblings.length==0">No data to display</li>
        <li class="list-group-item" *ngFor="let sibling of person.siblings">
          <app-sibling-card [sibling]="sibling"></app-sibling-card>
        </li>
      </ul>
    </div>
  </div>
</div>
