<div class="align-items-center" *ngIf="!person" style="margin-top:10px;">
  <div class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></div>
  <strong>&nbsp;Loading...</strong>
</div>
<form (ngSubmit)="submitForm()" #personEditForm="ngForm">
  <div class="card" style="margin-top:10px;" *ngIf="person">
    <div *ngIf="person.id==0" class="card-header  bg-primary  text-white">
      Add Person
    </div>
    <div *ngIf="person.id>0" class="card-header  bg-primary  text-white">
      Edit Person
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-3">
          <label for="exampleFormControlFile1">Profile Picture</label>
          <img [src]="getImage(person.photo)" alt="No Image" class="img-fluid img-thumbnail"
          (click)="file.click()" style="cursor:pointer;">
          <div class="form-group">
            <input type="file" #file id="profile" (change)=uploadFile(file.files) style="display: none;">
            <span class="upload" *ngIf="progress>0">{{progress}}%</span>
            <span class="upload" *ngIf="message">{{message}}</span>
          </div>
        </div>
        <div class="col-9">
          <div class="form-group row">
            <div class="col">
              <label for="name">Name</label>
              <input type="text" [(ngModel)]="person.name" id="name" name="name" class="form-control form-control-sm">
            </div>
            <div class="col" style="vertical-align:baseline;">
              <label for="isAlive">Is Alive</label>
              <select class="form-control form-control-sm" [(ngModel)]="person.isAlive" id="isAlive" name="isAlive">
                <option value="1">Alive</option>
                <option value="0">Dead</option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <div class="col">
              <label for="father">Father</label>
              <select class="form-control form-control-sm" [(ngModel)]="person.fatherId" id="father" name="father">
                <option [ngValue]="0">Select Father</option>
                <option *ngFor="let father of fathers" [ngValue]="father.id" [selected]="father.id === person.fatherId">
                  {{father.name}}</option>
              </select>
            </div>
            <div class="col">
              <label for="mother">Mother</label>
              <select class="form-control form-control-sm" [(ngModel)]="person.motherId" id="mother" name="mother">
                <option [ngValue]="0">Select Mother</option>
                <option *ngFor="let mother of mothers" [ngValue]="mother.id" [selected]="mother.id === person.motherId">
                  {{mother.name}}</option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <div class="col">
              <label for="gender">Gender</label>
              <select class="form-control form-control-sm" [(ngModel)]="person.gender" id="gender" name="gender">
                <option value="Male">Male</option>
                <option value="Female">Female</option>
              </select>
            </div>
            <div class="col">
              <label for="name">Birth Year</label>
              <input type="number" class="form-control form-control-sm" [(ngModel)]="person.birthYear" id="birthYear"
                name="birthYear">
            </div>
          </div>
          <div class="form-group row">
            <div class="col">
              <label for="Occupation">Occupation</label>
              <input type="text" class="form-control form-control-sm" [(ngModel)]="person.occupation" id="occupation"
                name="occupation">
            </div>
            <div class="col">
              <label for="residence">Residence</label>
              <input type="text" class="form-control form-control-sm" [(ngModel)]="person.residence" id="residence"
                name="residence">
            </div>
          </div>
          <div class="form-group row">
            <div class="col-6">
              <label for="Occupation">Marital Status</label>
                <select class="form-control form-control-sm" [(ngModel)]="person.maritalStatus" id="maritalStatus" name="maritalStatus">
                  <option value="Single">Single</option>
                  <option value="Married">Married</option>
                  <option value="Widowed">Widowed</option>
                </select>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="person && person.id>0">
    <app-spouse-manage [personId]="person.id" [gender]="person.gender"></app-spouse-manage>
  </div>
  <br />
  <div class="form-group row">
    <div class="col">
      <button type="submit" class="btn btn-primary">Save Person</button>&nbsp;
      <button class="btn btn-secondary" (click)="goBack()">Cancel</button>
    </div>
  </div>
</form>
