<div class="card">
  <div class="card-header">
    Add Person
  </div>
  <div>
    <div class="card-body">
      <div class="form-group row">
        <label for="name">Name</label>
        <input type="text" class="form-control form-control-sm" [formControl]="name">
      </div>
      <div class="form-group row">
        <label for="gender">Gender</label>
        <select class="form-control form-control-sm" [formControl]="gender">
          <option value="male">Male</option>
          <option value="female">Female</option>
        </select>
      </div>
      <div class="form-group row">
        <label for="name">Birth Year</label>
        <input type="text" class="form-control form-control-sm" [formControl]="birthYear">
      </div>
      <div class="form-group row">
        <label for="name">Occupation</label>
        <input type="text" class="form-control form-control-sm" [formControl]="occupation">
      </div>
      <div class="form-group row">
        <label for="name">Notes</label>
        <textarea class="form-control form-control-sm" [formControl]="notes"></textarea>
      </div>
      <div class="form-group row">
        <button class="btn btn-primary btn-sm" (click)="submitForm()">Submit</button>
        <button class="btn btn-secondary btn-sm" (click)="goBack()">Cancel</button>
      </div>
    </div>
  </div>
</div>
