<div class="card">
  <div class="card-header">
    Person Dashboard
  </div>
  <div>
    <div class="card-body">
      <div class="row">
        <div class="col">
          <button class="btn btn-success btn-sm"  routerLink="/personAdd" >Add Person</button>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <table class="table">
            <thead>
              <tr>
                <th>Name</th>
                <th>Gender</th>
                <th>Occupation</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let person of persons">
                <td><a href="#" routerLink="/personDetail">{{person.name}}</a></td>
                <td>{{person.gender}}</td>
                <td>{{person.occupation}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
