<div class="card">
  <div class="card-header">
    Person Dashboard
  </div>
  <div>
    <div class="card-body">
      <div class="row">
        <div class="col">
          <button class="btn btn-success btn-sm" (click)="addPerson()">Add Person</button>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <table class="table">
            <thead>
              <tr>
                <th>Name</th>
                <th>Gender</th>
                <th>Age</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Soosai Alexander</td>
                <td>Male</td>
                <td>30</td>
              </tr>
              <tr>
                <td>Antony Divya Jose</td>
                <td>Female</td>
                <td>27</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
